.tarot-container {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  /* border: 2px solid whitesmoke; */
  flex-direction: column;
  padding: 10px;
}

.tarot-container>h2 {
  font-size: 50px;
  text-align: center;
  z-index: 10;
}

.tarot-form {
  position: relative;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 30px;
  width: 700px;
  height: 800px;
  padding: 10px;
  /* border: 1px solid blue; */
  align-items: flex-start;
  gap: 20px;
  background-color: rgba(250, 250, 250, 0.7);
  background-image: url(./img/fondo.jpg);
  overflow: hidden;
  align-content: center;
  align-items: center;
  border: 2px solid whitesmoke;
}

.tarot-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.4); Fondo oscuro semitransparente */
  backdrop-filter: blur(2px) contrast(1.2);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
  /* Asegura que esté detrás del contenido */
}


.tarot-form img {
  width: 500px;
}

input[type="date"] {
  display: flex;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 400px;
  border: none;
  filter: drop-shadow(0px 0px 6px rgb(0, 0, 0));
  z-index: 10;
}

button {
  padding: 20px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.7s ease-in-out;
  z-index: 10;
}

label {
  color: black;
  z-index: 10;
  padding: 10px 40px;
  margin: 30px 30px 40px 30px;
  background-color: rgba(250, 250, 250, 0.7);
  filter: drop-shadow(0px 0px 6px rgb(0, 0, 0));
}

button:hover {
  color: whitesmoke;
  background-color: rgba(47, 47, 47, 0.8);
  filter: drop-shadow(0px 0px 6px rgb(0, 0, 0));
  
}

.card-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-display h3{
  padding: 20px;
  background-color: rgba(47, 47, 47, 0.8);
}
.card-frame {
  display: flex;
  align-items: center;
  width: 50px;

}

.card-frame img {
  padding: 20px;
  width: 400px;
  border-radius: 30px;
  margin: 10px;
  transition: all 0.4s ease-in-out;
  filter: sepia(50%) contrast(1.2) drop-shadow(0px 0px 10px rgb(202, 29, 179));


}


.card-frame p {
  width: 200px;
  font-size: 30px;
}
