/* Contenedor de todo el Div */
.card-lateral {
    background-color: rgba(250, 250, 250, 0.7);
    margin-top: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Contendor de la card */
.card-ppal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px;
    justify-content: center;
    align-items: center;

}

.card-ppal>img {
    width: 300px;
    border: 3px solid black;
    padding: 10px;
    object-fit: cover;
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    margin: 15px;
    filter: grayscale(100%) sepia(50%) contrast(1.5);
    transition: all 0.7s ease-in-out;
}

.card-ppal>img:hover {
    filter: grayscale(0%) sepia(0%) contrast(1.5);

}


/* Contendor del texto */
.card-bio {
    font-size: 15px;
}

.card-bio>h2,
.card-bio>p {
    padding: 20px;
    width: 300px;
    border: 3px solid black;
}


.card-bio>h2 {
    margin: 10px;
    text-align: center;
    background-color: rgba(47, 47, 47, 0.8);
    font-size: 25px;
}

.card-bio>p {
    margin: 10px;
    /* padding: 15px; */
    text-align: right;
    background-color: rgba(47, 47, 47, 0.8);
    font-size: 20px;
}