footer {
    display: flex;
    gap: 1rem;
    background-color: rgba(3, 3, 3, 0.8);
    width: 100%;
    min-height: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: whitesmoke;
    padding: 1rem;
    text-align: center;
}

/* --- BREAK --- */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 0.5rem;
    }
}