.hero-content {
    margin: 10px 0px;
    background-color: rgba(250, 250, 250, 0.7);
    width: 70%;
    }

.hero-text {
    font-size: 30px;
    text-align: right;
    padding: 30px;
    margin: 20px;
    height: 30%;
    justify-items: right;
    border: 3px solid black;
    background-color: rgba(47, 47, 47, 0.8);
}


/*Sección de 3 imagenes*/

/* Sección contenedor completo */
.hero-section {
    display: flex;
    flex-direction: column;
}


/* Sección de carta */
.hero-card {
    position: relative;
    width: 90%;
    height: 500px;
    overflow: hidden;
    align-content: center;
    align-items: center;
    margin: 10px;
    transition: all 0.7s ease-in-out;
    filter: drop-shadow(0px 0px 6px rgb(0, 0, 0));
}

.hero-img {
    width: 130%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) sepia(50%) contrast(1.2);
    transition: all 0.3s ease-in-out;
}

.hero-img:hover {
    filter: grayscale(0%) sepia(0%) contrast(1.2);
 }


.hero-card-title {
    position: absolute;
   bottom: 0%;
    left: 0;
   background-color: rgba(20, 20, 20, 0.8);
    padding: 0px 10px;
    margin: 0 auto;
}

.hero-card-title>h2 {
    font-size: 30px;
    text-align: center;
}

.hero-card-title>p {
    /* margin-top: 10px; */
    font-size: 20px;
    text-align: center;
    padding-right: 30px;
}