.hero-content {
    margin: 1rem auto;
    background-color: rgba(250, 250, 250, 0.7);
    width: 70%;
    max-width: 1200px;
}

.hero-text {
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: right;
    padding: 1.5rem;
    margin: 1rem;
    height: auto;
    border: 2px solid black;
    background-color: rgba(47, 47, 47, 0.8);
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-card {
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 25rem;
    overflow: hidden;
    margin: 1rem 0;
    transition: all 0.7s ease-in-out;
    filter: drop-shadow(0px 0px 6px rgb(0, 0, 0));
    border-radius: 4px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) sepia(50%) contrast(1.2);
    transition: all 0.3s ease-in-out;
}

.hero-img:hover {
    filter: grayscale(0%) sepia(0%) contrast(1.2);
}

.hero-card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.9);
    padding: 1rem;
}

.hero-card-title>h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    text-align: center;
    color: #ffd700;
}

.hero-card-title>p {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

/* --- BREAK --- */

@media (max-width: 1024px) {
    .hero-content {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .hero-content {
        width: 95%;
    }

    .hero-text {
        font-size: 1.1rem;
        text-align: center;
    }

    .hero-card {
        height: 18rem;
        width: 95%;
    }
}