@import "Navegador.css";
@import "Cards.css";
@import "CardCab.css";
@import "Footer.css";
@import "Inicio.css";
@import "ArcanumStyles.css";
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-family: 'Spectral', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("../img/backhero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 80vh;
}

footer {
  margin-top: auto;
}

.card-caract {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
}

/* --- BREAK --- */

@media (max-width: 768px) {
  .card-caract {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}