@import "Navegador.css";
@import "Cards.css";
@import "CardCab.css";
@import "Footer.css";
@import "Inicio.css";
@import "ArcanumStyles.css";
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(252, 252, 252);
  font-family: 'Spectral', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   overflow-x: hidden;
    background-image: url("../img/backhero.jpg");
}

main {
  flex: 1;
   display: flex;
   flex-direction: column;
  position: relative;
    min-height: 80vh;
}

footer {
  margin-top: auto;
}

.card-caract {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}